/*
#13292B
#435A55
#788C7A
#CBC196
#EFE0C3
*/
HTML {
    height: 100%;
}
body {
    margin: 0px;
    background-color: #EFE0C3;
    height: 100%;
}

#header {
    top: 0;
    padding: 10px;
    height: 50px;
    background-color: #435A55;
    box-shadow: 0px 0px 20px #1c2523;
}
#content {
    border: 5px groove #EFE0C3;
    display: flex;
    padding: 10px;
    margin: 10px;
    height: 80%;
}
#bookFormDiv {
    background-color: #788C7A;
    border: 5px groove #788C7A;
    margin: 10px;
    padding: 20px;
    height: 50%;
    box-shadow: 0px 0px 20px #504a3f;
}
#submitBtn {
    border-radius: 15px;
    background-color: rgb(221, 221, 221);
}
#submitBtn:hover {
    border: 1px groove grey;
    background-color: rgb(177, 177, 177)
}
#bookFormDiv, 
label {
    color: #273532
}
#libraryContainer {
    border: 5px groove #CBC196;
    background-color: #CBC196;
    margin: 20px;
    padding: 20px;
    height: 90%;
    max-height: 90%;
    width: 90%;
    overflow: auto;
}

#library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bookDisplay {
    color: #273532;
    border: 5px groove #788C7A;
    background-color: #788C7A;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 20px #746b5b;
}
.deleteBtn {
    margin: 20px 0px 0px 0px;
    border-radius: 15px;
    background-color: rgb(221, 221, 221);
}
.readBtn {
    margin: 5px;
    border-radius: 15px;
    background-color: rgb(221, 221, 221);
}
.deleteBtn:hover {
    background-color: rgb(177, 177, 177)
}
.readBtn:hover {
    background-color: rgb(177, 177, 177)
}
.footer {
    background-color: #435A55;
    box-shadow: 0px 0px 20px #1c2523;
    color: #788C7A;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#gitHubLink {
    color:#788C7A    ;
}
#gitHubLink.visited {
    color:#788C7A;
}